In [2]:
import pandas as pd
import numpy as np

In [39]:
df = pd.read_csv('World_Bank_Expenditures_by_Organizational_Unit.csv')

In [40]:
df

,Organizational Unit,Vice Presidential Unit or Grouping,Fiscal Year,"Actuals (US$, Millions)","Subtotals (US$, Millions)",Notes
0,Governance services,Governance services,2009,171.2,NaN,Governance services includes units such as: th...
1,Operational units,Operational units Total,2009,NaN,1317.7,NaN
2,Institutional services,Institutional services,2009,431.8,NaN,Institutional Services includes units such as:...
3,Centrally-managed accounts and programs,Centrally-managed accounts and programs,2009,24.1,NaN,Centrally-managed accounts and programs includ...
4,Administrative services,Administrative services,2009,313.2,NaN,Administrative services Includes General Servi...
...,...,...,...,...,...,...
116,"Reimbursements, fees, others","Reimbursements, fees, others",2019,-574.2,NaN,NaN
117,Centrally-managed accounts and programs,Centrally-managed accounts and programs,2019,80.4,NaN,Centrally-managed accounts and programs includ...
118,Governance services,Governance services,2019,215.5,NaN,Governance services includes units such as: th...
119,Operational units,Global Practices and Cross-Cutting Solutions A...,2019,1292.8,NaN,NaN
120,Total administrative budget,Total administrative budget,2019,NaN,2602.5,NaN

From `df`, we can see interesting observations:

- An Organizational Unit such as 'Operational units' has a corresponding 'Operational units Total' which has its value on Subtotals instead of Actuals.
- However, from the shown data, Actuals and Subtotals don't seem to add up.

In [41]:
df = df.rename(columns = {'Actuals (US$, Millions)': 'Actuals', 'Subtotals (US$, Millions)': 'Subtotals',
                          'Vice Presidential Unit or Grouping': 'Grouping'})

In [42]:
df

,Organizational Unit,Grouping,Fiscal Year,Actuals,Subtotals,Notes
0,Governance services,Governance services,2009,171.2,NaN,Governance services includes units such as: th...
1,Operational units,Operational units Total,2009,NaN,1317.7,NaN
2,Institutional services,Institutional services,2009,431.8,NaN,Institutional Services includes units such as:...
3,Centrally-managed accounts and programs,Centrally-managed accounts and programs,2009,24.1,NaN,Centrally-managed accounts and programs includ...
4,Administrative services,Administrative services,2009,313.2,NaN,Administrative services Includes General Servi...
...,...,...,...,...,...,...
116,"Reimbursements, fees, others","Reimbursements, fees, others",2019,-574.2,NaN,NaN
117,Centrally-managed accounts and programs,Centrally-managed accounts and programs,2019,80.4,NaN,Centrally-managed accounts and programs includ...
118,Governance services,Governance services,2019,215.5,NaN,Governance services includes units such as: th...
119,Operational units,Global Practices and Cross-Cutting Solutions A...,2019,1292.8,NaN,NaN
120,Total administrative budget,Total administrative budget,2019,NaN,2602.5,NaN

In [43]:
pivot_table_1 = pd.pivot_table(df, values = 'Actuals', index = ['Organizational Unit', "Grouping"],
                               aggfunc = np.sum, fill_value = 0)

In [44]:
pivot_table_1

                                                                                            Actuals
Organizational Unit                     Grouping
Administrative services                 Administrative services                              5057.1
Centrally-managed accounts and programs Centrally-managed accounts and programs              2220.9
Governance services                     Governance services                                  2112.8
Grant-making Facilities                 Grant-making Facilities                              1258.1
Institutional services                  Institutional services                               4944.0
Operational units                       Global Practices and Cross-Cutting Solutions Areas   5552.2
                                        Operational units Total                                 0.0
                                        Regional Programs                                    2048.2
Reimbursements, fees, others            Reimbursements, fees, others                        -4877.7
Total administrative budget             Total administrative budget                             0.0
Total gross administrative budget       Total gross administrative budget                       0.0

It looks like after all, only 'Operational units' has a Grouping which has an 'Operational units Total'.

In [56]:
5552.2+2028.2 #Total Actuals from Operational Units.

7580.4

In [51]:
pivot_table_2 = pd.pivot_table(df, values = 'Subtotals', index = ['Grouping'],
                               aggfunc = np.sum, fill_value = 0)

In [52]:
pivot_table_2

                                                    Subtotals
Grouping
Administrative services                                   0.0
Centrally-managed accounts and programs                   0.0
Global Practices and Cross-Cutting Solutions Areas        0.0
Governance services                                       0.0
Grant-making Facilities                                   0.0
Institutional services                                    0.0
Operational units Total                               16084.2
Regional Programs                                         0.0
Reimbursements, fees, others                              0.0
Total administrative budget                           26801.2
Total gross administrative budget                     31678.9

Still, the actuals we computed from Operational units Actuals does not equal to the subtotals column.

In [54]:
df_operational_units = df[df['Organizational Unit'] == 'Operational units']

In [55]:
df_operational_units

,Organizational Unit,Grouping,Fiscal Year,Actuals,Subtotals,Notes
1,Operational units,Operational units Total,2009,NaN,1317.7,NaN
5,Operational units,Regional Programs,2009,NaN,NaN,NaN
6,Operational units,Global Practices and Cross-Cutting Solutions A...,2009,NaN,NaN,NaN
13,Operational units,Operational units Total,2010,NaN,1386.6,NaN
16,Operational units,Regional Programs,2010,NaN,NaN,NaN
17,Operational units,Global Practices and Cross-Cutting Solutions A...,2010,NaN,NaN,NaN
24,Operational units,Operational units Total,2011,NaN,1395.1,NaN
27,Operational units,Regional Programs,2011,NaN,NaN,NaN
28,Operational units,Global Practices and Cross-Cutting Solutions A...,2011,NaN,NaN,NaN
36,Operational units,Operational units Total,2012,NaN,1438.8,NaN
38,Operational units,Regional Programs,2012,NaN,NaN,NaN
39,Operational units,Global Practices and Cross-Cutting Solutions A...,2012,NaN,NaN,NaN
45,Operational units,Operational units Total,2013,NaN,1452.3,NaN
49,Operational units,Regional Programs,2013,NaN,NaN,NaN
50,Operational units,Global Practices and Cross-Cutting Solutions A...,2013,NaN,NaN,NaN
57,Operational units,Operational units Total,2014,NaN,1492.4,NaN
60,Operational units,Regional Programs,2014,NaN,NaN,NaN
61,Operational units,Global Practices and Cross-Cutting Solutions A...,2014,NaN,NaN,NaN
68,Operational units,Operational units Total,2015,NaN,1423.2,NaN
71,Operational units,Regional Programs,2015,393.2,NaN,NaN
72,Operational units,Global Practices and Cross-Cutting Solutions A...,2015,1029.9,NaN,NaN
78,Operational units,Operational units Total,2016,NaN,1364.7,NaN
82,Operational units,Regional Programs,2016,369.9,NaN,NaN
83,Operational units,Global Practices and Cross-Cutting Solutions A...,2016,994.7,NaN,NaN
91,Operational units,Operational units Total,2017,NaN,1419.7,NaN
93,Operational units,Regional Programs,2017,390.5,NaN,NaN
94,Operational units,Global Practices and Cross-Cutting Solutions A...,2017,1028.5,NaN,NaN
102,Operational units,Regional Programs,2018,442.8,NaN,NaN
103,Operational units,Operational units Total,2018,NaN,1649.1,NaN
108,Operational units,Global Practices and Cross-Cutting Solutions A...,2018,1206.3,NaN,NaN
113,Operational units,Regional Programs,2019,451.8,NaN,NaN
114,Operational units,Operational units Total,2019,NaN,1744.6,NaN
119,Operational units,Global Practices and Cross-Cutting Solutions A...,2019,1292.8,NaN,NaN

Now, we can see that the reason why the Actuals and Subtotals for 'Operational Units' is because it does not have Actuals data prior to 2015.